<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Guestbook</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Guestbook</h1>
                <div th:if="${entries.isEmpty()}">
                    <p class="lead">There are no comments in the Guestbook. What a pity.</p>
                </div>
            </div>
        </div>
        <div th:if="${!entries.isEmpty()}" class="container">
            <table class="table">
                <tr>
                    <th>User</th><th>Comment</th><th></th><th></th>
                </tr>
                <tr th:each="entry: ${entries}">
                    <td th:text="${entry.user}"></td>
                    <td th:text="${entry.comment}"></td>
                    <td><a class="btn btn-primary" role="button" th:href="@{'/delete/' + ${entry.id}}">Delete</a></td>
                    <td><a class="btn btn-secondary" role="button" th:href="@{'/update/' + ${entry.id}}">Update</a></td>
                </tr>
            </table>
        </div>
        <div class="container">
            <h2 th:text="${formHeader}"></h2>
            <form th:object="${newEntry}" method="post">
                <div class="form-row">
                    <div class="col">
                        <label>User: </label>
                        <input type="text" class="form-control" placeholder="User" size="32" th:field="*{user}" />
                    </div>
                    <div class="col">
                        <label>Comment: </label>
                        <input type="text" class="form-control" placeholder="Comment" size="64" th:field="*{comment}" />
                    </div>
                    <input class="btn btn-success" type="submit" value="Submit" />
                    <input class="btn btn-danger" type="reset" value="Reset" />
                </div>
                <div class="col">
                    <p class="warning" th:if="${#fields.hasErrors('user')}">User cannot be empty.</p>
                    <p class="warning" th:if="${#fields.hasErrors('comment')}">Comment cannot be empty.</p>
                </div>
            </form>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>